@using Microsoft.AspNetCore.Mvc.Razor
@model Input

<turbo-frame id="@Model.TurboFrameId" >
    <details class="bg-white grow shadow-md rounded-lg group/output">
        <summary class="p-4 cursor-pointer flex justify-between items-center rounded-lg">
            <h3 class="font-semibold">@(Model.Name ?? "Naamloos")</h3>
            <svg class="w-5 h-5 transition-transform duration-200 group-open/output:rotate-90" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </summary>
        <div class="p-4 flex-col flex gap-2">
            <div class="flex gap-2">
                @foreach (var c in @Model.Files)
                {
                    <div class="w-32 h-32 overflow-hidden">
                        <a href="/images/@Model.Id/@c.Index" target="_blank">
                            <img src="/images/@Model.Id/@c.Index" alt="Your image description" class="w-full h-full object-cover">
                        </a>
                    </div>
                }
            </div>
        
            @foreach (var output in Model.Outputs)
            {
                @await Html.PartialAsync("_Output", output);
            }
            
            
            <a href="/api/input/@Model.Id" data-turbo-method="delete" class="@Buttons.Attrs @Buttons.RedAttrs self-end">
                Delete Entire Input
            </a>
        </div>
        

    </details>
      
</turbo-frame>