@page
@{
    Layout = null;
}
@model SolidGround.Pages.RunExperimentForm

<turbo-frame id="runexperimentform">
    <form class="p-4" action="/api/experiment" method="post">
        @foreach (var variable in Model._variables)
        {
            var id = $"SolidGroundVariable_{variable.Key.ToLower()}";
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="@id">
                   @variable.Key
                </label>
                <textarea
                id="@id"
                name="@id"      
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                rows="4"
                placeholder="@variable.Value"
                oninput="this.classList.toggle('text-gray-500', this.value === this.placeholder)"
                    >@variable.Value
                </textarea>
            </div>
        }
        <input type="hidden" name="ids" value="[1,2,3]">
        <input type="hidden" name="name" value="Lucas!">
        <button type="submit" class="px-4 py-2 bg-green-200 hover:bg-green-700 rounded">
            Run Experiment
        </button>

    </form>
</turbo-frame>